.stars {
  display: flex;

  &__star {
    margin-left: 0;
    margin-right: 4px;
    
    height: 16px;
    width: 16px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/star.svg);

  }
  &__star--active {
    background-image: url(../images/star-active.svg);
  }
}
